name: Documentation

on:
  push:
    branches: 
      - 'master'
      - 'release-*'
    tags: 
      - 'v*'
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
jobs:
  Documenter:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-docdeploy@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
